/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset */

/* From https://www.realtimecolors.com/?colors=ebe9f6-0c0b1e-a9da9a-82306b-c7667e&fonts=Inter-Inter */
:root {
  --text-50: #efedf8;
  --text-100: #dedbf0;
  --text-200: #bdb7e1;
  --text-300: #9c92d3;
  --text-400: #7b6ec4;
  --text-500: #5a4ab5;
  --text-600: #483b91;
  --text-700: #362c6d;
  --text-800: #241e48;
  --text-900: #120f24;
  --text-950: #090712;

  --background-50: #edecf8;
  --background-100: #dbdaf1;
  --background-200: #b7b5e3;
  --background-300: #938fd6;
  --background-400: #6f6ac8;
  --background-500: #4b45ba;
  --background-600: #3c3795;
  --background-700: #2d2970;
  --background-800: #1e1c4a;
  --background-850: #171538;
  --background-900: #0f0e25;
  --background-950: #070713;

  --primary-50: #eff8ec;
  --primary-100: #dff1da;
  --primary-200: #bfe3b5;
  --primary-300: #a0d68f;
  --primary-400: #80c86a;
  --primary-500: #60ba45;
  --primary-600: #4d9537;
  --primary-700: #3a7029;
  --primary-800: #264a1c;
  --primary-900: #13250e;
  --primary-950: #0a1307;

  --secondary-50: #f8ecf5;
  --secondary-100: #f1daeb;
  --secondary-200: #e3b5d6;
  --secondary-300: #d68fc2;
  --secondary-400: #c86aad;
  --secondary-500: #ba4599;
  --secondary-600: #95377a;
  --secondary-700: #70295c;
  --secondary-800: #4a1c3d;
  --secondary-900: #250e1f;
  --secondary-950: #13070f;

  --accent-50: #f8ecef;
  --accent-100: #f1dae0;
  --accent-200: #e3b5c0;
  --accent-300: #d68fa1;
  --accent-400: #c86a82;
  --accent-500: #ba4562;
  --accent-600: #95374f;
  --accent-700: #70293b;
  --accent-800: #4a1c27;
  --accent-900: #250e14;
  --accent-950: #13070a;

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-950);
    --color-text: white;

    --color-text-primary: black;
    --color-text-secondary: white;
    --color-text-accent: white;

    --color-bg: var(--background-850);
    --color-bg-l: var(--background-900);
    --color-bg-d: var(--background-800);
    --color-bg-primary: var(--primary-200);
    --color-bg-primary-l: var(--primary-300);
    --color-bg-primary-d: var(--primary-400);
    --color-bg-secondary: var(--secondary-800);
    --color-bg-secondary-l: var(--secondary-700);
    --color-bg-secondary-d: var(--secondary-900);
    --color-bg-accent: var(--accent-800);
    --color-bg-accent-l: var(--accent-700);
    --color-bg-accent-d: var(--accent-900);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    --color-text: black;

    --color-text-primary: black;
    --color-text-secondary: black;
    --color-text-accent: black;

    --color-bg: var(--background-100);
    --color-bg-l: var(--background-50);
    --color-bg-d: var(--background-200);
    --color-bg-primary: var(--primary-300);
    --color-bg-primary-l: var(--primary-200);
    --color-bg-primary-d: var(--primary-400);
    --color-bg-secondary: var(--secondary-200);
    --color-bg-secondary-l: var(--secondary-100);
    --color-bg-secondary-d: var(--secondary-300);
    --color-bg-accent: var(--accent-200);
    --color-bg-accent-l: var(--accent-100);
    --color-bg-accent-d: var(--accent-300);
  }
}

html,
body {
  height: 100%;
}

body {
  --radius: 4px;
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.6em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}

table {
  border-collapse: separate;
  border-spacing: 0.1em;
}

th,
td {
  background: var(--color-bg);
  padding: 0.3em;
  border-radius: var(--radius);
  width: 7em;
}

strong {
  font-weight: 900;
}

button {
  border: none;
  border-radius: var(--radius);
  padding: 0.5em;
  color: var(--color-text);
  background-color: var(--color-bg);
}

button:hover {
  background-color: var(--color-bg-l);
}

button:active {
  background-color: var(--color-bg-d);
}

input {
  border: none;
  border-radius: var(--radius);
  padding: 0.5em;
  color: var(--color-text);
  background-color: var(--color-bg);
}

select {
  border: none;
  border-radius: var(--radius);
  padding: 0.5em;
  color: var(--color-text);
  background-color: var(--color-bg);
}

textarea {
  box-sizing: border-box;
  border: none;
  border-radius: var(--radius);
  padding: 0.5em;
  color: var(--color-text);
  background-color: var(--color-bg);
}

ul {
  list-style: disc;
  margin-left: 1em;
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-text);

}

nav {
  padding: 1em;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}

nav>* {
  margin-right: 1em;
}

nav>.active {
  font-weight: 900;
}

nav>*:last-child {
  margin-right: 0em;
}

.columns-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.columns-layout>* {
  flex: 1;
}

.small-colum {
  max-width: 30em;
}

.table-column {
  max-width: max-content;
  width: 100%;
}

.table-column>* {
  position: sticky;
  top: 0;
}

#sign-out {
  text-align: right;
  margin-left: auto;
  justify-self: auto;
}

#sign-out>button {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary)
}

#sign-out>button:hover {
  background-color: var(--color-bg-secondary-l);
}

#right-now {
  padding: 1em;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border-radius: var(--radius);
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.waiting-on {
  padding: 0.5em;
  background-color: var(--color-bg-accent);
  color: var(--color-text-accent);
  border-radius: var(--radius);
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.you>select {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.schedule-container {
  display: grid;
  grid-template-columns: 1fr minmax(9em, auto);
  gap: 5px;
}

.day-title {
  grid-column: 1 / 3;
  justify-self: stretch;

  text-align: center;
  font-size: 1.4em;
  padding: 0.3em;
  border-top-left-radius: calc(var(--radius) * 3);
  border-top-right-radius: calc(var(--radius) * 3);
  background-color: var(--color-bg-accent);
  color: var(--color-text-accent);
}

.day-title-big {
  display: grid;
  grid-column: 1 / 3;
  justify-self: stretch;
  grid-template-columns: auto 1fr;

  text-align: center;
  font-size: 1.4em;
  padding: 0.3em;
  border-top-left-radius: calc(var(--radius) * 3);
  border-top-right-radius: calc(var(--radius) * 3);
  background-color: var(--color-bg-accent);
  color: var(--color-text-accent);
}

.admin-bulk-edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  margin-bottom: 0.4em;
}

.admin-bulk-edit-buttons>button {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
}

.day-title-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;
}

.slot {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: subgrid;
  align-items: center;
}

.fill-in-slot {
  border-radius: var(--radius);
  padding: 0.2em;
}

.fill-in-slot:hover {
  background-color: var(--color-bg);
}

.fill-in-slot>input[type="checkbox"] {
  margin-left: auto;
}

.fill-in-slot:has(>input[type="checkbox"]:checked) {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.warn {
  float: right;
}

#publish {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary)
}

#publish:hover {
  background-color: var(--color-bg-primary-l);
}

.edit-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3em;
}

.edit-row>*:last-child {
  margin-left: auto;
}

.edit-list {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.table-holder {
  overflow-x: auto;
}

.table-empty {
  background-color: inherit;
}

.table-empty-row {
  height: 0.5em;
}

.table-important {
  font-weight: 900;
}

.table-important>td {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.notes {
  resize: none;
  display: block;
  width: 100%;
  max-width: 100%;
}

.admin-note {
  margin-left: 1em;
}

.edit-name {
  width: 8em;
}

.logo {
  height: 3em;
}

#login {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

#login>label {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#login>label>* {
  flex: 1;
}

.error {
  padding: 1em;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  margin-top: 1em;
  border-radius: var(--radius);
}

.url-box {
  overflow-x: auto;
  border: none;
  border-radius: var(--radius);
  padding: 0.5em;
  color: var(--color-text);
  background-color: var(--color-bg);

  white-space: nowrap;
  margin-block: 0.3em;
}